# Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Models (optional, if you host them elsewhere)
# models/

# Data (optional)
# data/

# Streamlit cache
.streamlit/

.devcontainer/
